
<% posts.each do |_post| %>
  <% if _post.user.valid_status == true %>
    <% if _post.user.display_status == true %>
      <div class="row">
        <div class="col-lg-3"><%= link_to (image_tag _post.get_image(150, 150)), public_post_path(_post.id) %></div>
        <div class="col-lg-3">
          Title: <%= _post.title %><br>
          投稿者：<%= _post.user.name %>
        </div>
      </div>
    <%end%>
  <%end%>
<%end%>
