
<% display_users.each do |user|%>
  <table class= "table-bordered">
    <tr>
      <th>
        <%= link_to (image_tag user.get_icon(100, 100)), public_user_path(user.id) %><br>
        <%= user.name %>
      </th>
      <td>
        <%= "職業：#{@occupation_find.name}" if @occupation_find.present? %>
        <%= "制作媒体：#{@medium.name}" if @medium.present? %>
      </td>
    </tr>
  </table>
<%end%>