
<div class="container">

  <%= render "public/shared/header"%>

  <div class="row">
    <div class="col-lg-4"> <h2>みんなの投稿</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <!--検索フィールド-->
      <%= render "public/homes/search_post" %>
      <br>
      <!--投稿一覧-->
      <%= render "public/posts/index_posts", posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>

</div>