
<div class="container">
  <h1>投稿一覧</h1>
  <%= render partial: "public/shared/header"%>

  <%= render partial: "public/shared/index_posts", locals: {posts: @posts} %>

  <%= paginate @posts %>

</div>