
<div class="container">
  <!--ヘッダー-->
  <%= render  "public/shared/header" %>

  <div class="row">
    <div class="col-lg-6">
      <h2><%= "#{@user.name}のフォロワー：#{@followers.count}" %></h2>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-6">
    <% if @followers.present? %>
      <!--ユーザ（フォロワー）一覧-->
      <%= render "public/users/index_users", display_users: @followers %>
      <%= paginate @followers %>
    <%else%>
      -フォロワーはいません-
    <%end%>
    </div>
  </div>

</div>