<%= render "public/shared/header"%>

<h1>検索画面</h1>

<%if @subject == "ユーザ" %>
  <%= render "public/shared/index_users", users: @users%>
<%elsif @subject == "投稿" %>
  <%= render "public/shared/index_posts", posts: @posts %>
<%else%>
  <h3>検索対象が見つかりませんでした。条件を変更して再度お試しください。</h3>
<%end%>
