<h1>検索画面</h1>

<% if @subject.first %> #exists
  <% if @subject == "ユーザ" %>
    <%= render "public/users/index" %>
  <%else%>
    <%= render "public/posts/index" %>
  <%end%>
<%else%>
  <h3>検索対象が見つかりませんでした。条件を変更して再度お試しください。</h3>
<%end%>
