
<% if current_user != user %>

    <% if current_user.user_relationships.exists?(follow_user_id: user.id) %>
      <div id="follow_in">
        <%= link_to "フォロー解除", public_user_follow_path(user.id), method: :delete, remote: true, class: "btn-primary" %><br>
      </div>
    <%else%>
      <div id="follow_out">
        <%= link_to "フォロー", public_user_follow_path(user.id), method: :post, remote: true, class: "btn-primary" %><br>
      </div>
    <%end%>

<%end%>
