
<div class="container">

  <%= render partial: "public/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2>フォロー(一覧)</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      
      <% @followings.each do |following|%>
      <table class= "table-striped">
        <tr>
          <th><%= link_to (image_tag following.get_icon(150, 150)), public_user_path(following.id) %></th>
          <td><%= following.name %></td>
        </tr>
      </table>
      <%end%>
      <%= paginate @followings %>
      
    </div>
  </div>

</div>