
<div class="container">

  <%= render partial: "public/shared/header" %>

  <div class="row">
    <div class="col-lg-6">
      <h2><%= "#{@user.name}がフォローしているユーザ：#{@followings.count}"%></h2>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-6">
    <% if @followings.present? %>
      <!--ユーザ（フォロー）一覧-->
      <%= render "public/users/index_users", display_users: @followings %>
      <%= paginate @followings %>
    <%else%>
      -フォローしているユーザはいません-
    <%end%>
    </div>
  </div>

</div>