
<div class="container">
  <h1>ユーザ(一覧)</h1>
  <%= render partial: "admin/shared/header" %>

  <h5>ユーザ検索</h5>
  <%= render partial: "admin/shared/search_user" %>

  <h5>ユーザ一覧</h5>
  <%= render partial: "admin/shared/index_users", locals: {users: @users} %>
  <%= paginate @users %>

</div>
