
<div class="container">

  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2>ユーザ一覧</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <!--検索フィールド-->
      <%= render partial: "admin/homes/search_user" %>
      <br>
      <!--ユーザ一覧-->
      <%= render "admin/users/index_users", users: @users %>
      <%= paginate @users %>
    </div>
  </div>

</div>
