<% posts.each do |_post|%>
    <div class="row">
      <div class="col-lg-3">
        <%= link_to (image_tag _post.get_image(150,150)), public_post_path(_post.id) %>
      </div>
      <div class="col-lg-3">
        Title: <%= _post.title %><br>
        制作媒体：<%= CategoryMedium.find(_post.category_medium_id).name %><br>
        
        <!--to投稿編集画面-->
        <% if user_signed_in? && _post.user.id == current_user.id %>
          <%= link_to edit_public_post_path(_post.id) do %>
            <i class="fa-solid fa-gears"></i>
          <%end%>
        <%end%>
        
      </div>
    </div>
  <%end%>