
<div class="container">
  
  <%= render "public/shared/header" %>
  
  <h1>ユーザ(一覧)</h1>
  

  <h4>ユーザ検索</h4>
  <%= render partial: "public/shared/search_user" %>

  <%= render partial: "public/shared/index_users", locals: {display_users: @display_users} %>
  <%= paginate @display_users %>

</div>
