
<div class="container">

  <%= render "public/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2>ユーザ一覧</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <!--検索フィールド-->
      <%= render partial: "public/homes/search_user" %>
      <br>
      <!--ユーザ一覧-->
      <%= render "public/users/index_users", display_users: @display_users %>
      <%= paginate @display_users %>
    </div>
  </div>


</div>