<%= render "public/shared/header"%>
<h1>ユーザ一覧</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |user|%>
  <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "詳細", public_user_path(user.id)%></td>
    </tr>
  </tbody>
  <%end%>
</table>

