<%= render "public/shared/header"%>

<h1>マイページ</h1>

<%= current_user.name%>
<%#= current_user.@medium.name %>

<%= link_to "フォロー", public_user_followings_path(current_user.id) %>
<%= link_to "フォロワー", public_user_followers_path(current_user.id) %>